.column{
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    justify-content: space-between;
    align-items: space-around; 
    flex-basis: 33.33%;
    min-width: 0;
    min-height: 0;
  }

/* single artist selected (compare === False) */

.flex-container {
    display:flex;
    justify-content: center;
}

.single-row-container {
    display:flex;
    justify-content:center;
    align-items: center;
    height:50vh;
    width: 95%;
    border-radius: 100px;
    margin:0px;
  }

.rounded-item1 {
    color:black;
    flex-basis: 33.333%;
    background-color: #E5E5E5;
    border:2px solid black;
    border-right:1px;
    /* display:flex;
    flex-direction:column;
    justify-content: flex-start; */
    min-width: 0;
    min-height: 0;
    width: 100%;
    height:100%;
    overflow: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
 
.rounded-item2 {
    color:black;
    flex-basis: 33.333%;
    background-color: #E5E5E5;
    border:2px solid black;
    display:flex;
    border-left:1px;
    flex-direction:column;
    justify-content: flex-start;
    min-width: 0;
    min-height: 0;
    width: 100%;
    height:100%;
    overflow: auto;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* mobile adjustments for single artist */

@media screen and (max-width: 414px) {
    .single-row-container {
      flex-direction: column;
      height: 120vh;
      width: 80vw;
      border-right:10px;
    }
    .rounded-item1 {
    color:black;
    flex-basis: 33.333%;
    background-color: #E5E5E5;
    border:2px solid black;
    min-width: 0;
    min-height: 0;
    width: 100%;
    height:100%;
    overflow: auto;
    border-radius: 0;
    }
    .rounded-item2 {
        color:black;
        flex-basis: 33.333%;
        background-color: #E5E5E5;
        border:2px solid black;
        display:flex;
        flex-direction:column;
        justify-content: flex-start;
        min-width: 0;
        min-height: 0;
        width: 100%;
        height:100%;
        overflow: auto;
        border-radius: 0;
    }
    .header {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .artist-info {
        height:100%;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}
 
 
 /*  Specific Items */
        /* Artist Items */

        .artist-info {
            height:100%;
            display:flex;
            flex-direction: column;
            justify-content: space-evenly;
            /* align-items: flex-end; */
        }
        
        .artist-header{
            display:flex;
            /* justify-content: space-evenly; */
            font-size:13px;
            margin-left:1px;
            /* display:flex; */
            justify-content: flex-start;
            align-items: center;
        }
        
        .bio-text{
            display:flex;
            flex-direction:column;
            justify-content: flex-start;
            padding:5px;
            margin-top:0px;
            padding-right: 12px;
            overflow:auto;
            display: inline;
          }
        
        .openModal:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        .openModal {
            /* font-size:105%; */
            font-weight:401;
        }
        
                /* WordCloud Item*/
        
        .wordcloud{
                    text-align: center;
                }

                    /*Expanded Biography*/

.biography-expand {
    display:flex;
    flex-direction:column;
}

.full-bio-title{
    margin:0px;
    margin-left:5px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.lyrics-container{
    overflow:auto;
}


