
nav a {
    color:black;
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
}


nav a.active {
    text-decoration: underline;
}

.navigation {
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    background-color:#FEFEFE;
    position: fixed;
}

nav{
    /* background-color:#FEFEFE; */
    margin-bottom: 5rem;
}



.button{
    z-index: 1;
    padding: 20px;
}
.search1{
    z-index:2;
}

.search2{
    z-index:-3;
}

/* .box{
    position: 'absolute';
    top: '50%';
    left: '50%';
    transform: 'translate(-50%, -50%)';
    width: '70vw';
    height: '40vw';
    border: '2px solid #000';
    box-sizing: 24;
    flex-shrink: 5;
    background-color: coral;
} */