venv/
creds.py
__pycache__
client/package-lock.json
package-lock.json
__pycache__
lyrics-db.dump
src/
.DS_Store
.env
ls.dump
database_data/
data/lyrics-backup.sql
data.lyrics-backup.sql
lyrics-backup.sql