/* NAVBAR */
nav a {
    color:black;
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
}

nav a.active {
    text-decoration: underline;
}

.navigation {
    display:flex;
    justify-content: space-evenly;
    background-color:#FEFEFE;
}

nav{
    margin-bottom: 5rem;
}
@media screen and (max-width: 820px) {
nav {
    margin-bottom: 3.5rem;
}
  }