.search-module-container {
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: 20px;
}

.selected {
    margin-left:5px;
}

.ready {
    z-index: 1;
}

.notready {
    z-index:-1;
}