/* Compare Items */

    .vs-box {
        display:flex;
        height:100%;
        width:100%;
    }
    .vs-text {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
            flex-basis: 33%; 
            font-weight: bold;
            margin: auto;
            font-size:18px;
        }
    .text {
            font-weight: bold;
            margin-right:2px;
        }
    .artist1 {
        flex-basis:33%;
        display:flex;
        direction: column;
        justify-content:flex-start;
        align-items: flex-start;
        margin-left:5%;
        padding-top:5px;
    }
    .artist2 {
        flex-basis:33%;
        display:flex;
        direction: column;
        align-items:flex-end;
        justify-content: flex-end;
        margin-right:5%; 
        padding-bottom:5px; 
    }
