.contribute-container {
    display:flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
}

.seed-button {
    margin:10px;
    margin-top:15px;
}

.message {
display:flex;
justify-content: center;
}

.message-text {
    flex-basis:65%;
}